.content{
  max-width: 1140px;
  margin: 0 auto;
  background: gray;
  padding: 20px;
  @media screen and (max-width: 1200px){
    max-width: 960px;
  }
  @media screen and (max-width: 992px){
    max-width: 720px;
  }
  @media screen and (max-width: 768px){
    max-width: 720px;
  }
  @media screen and (max-width: 576px){
    max-width: 540px;
  }

}
.culc-item{
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}